.App {
  text-align: center;
  width: 90%;
  margin: 0px auto;
}
span{
  color: #18C7C9;
}
a{
  color: #F6F7F8;
}
a:hover{
  color: #18C7C9;
}
ul li{
  display: inline;
  padding: 2px;

}
.portrait{
  border-radius: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}
.icons{
  margin-right: auto;
}
nav{
  height: 30px;
}
.links{
  margin-left: 0 auto;
}
.links li{
  display: inline;
  margin: 10px;
}
.links a{
  text-decoration: none;
}h1{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style:italic;
}
h3{
  text-align: left;
  padding: 20px 0;

}
.section-heading{
  border-left: 4px solid #18C7C9;
  text-align: left;
  padding-left: 10px;
}