/* IMPORTS */
/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ROOT STYLES & VARIABLES */
:root {
  /* galaxy image from https://unsplash.com/s/photos/galaxy */
  --bg-image: url('pexels-alex-conchillos-3888585.jpg');
  --primary-color:#18C7C9;
  --primary-font: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

/* Base React Style */
.App {
  text-align: center;
  width: 90%;
  margin: 0px auto;
}
/* Primitives */
body{
  background-image: var(--bg-image);
  font-family: var(--primary-font);
}

/* HEADINGS */
h1{
  font: 'Roboto Mono', monospace;
  font-weight: 300;
}

/* HEADER / NAV */
header{
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}
header a{
  margin-right: auto;
}
nav{
  height: 30px; 
  margin-left: auto;
}
nav a.active{
  color: #18C7C9;
  font-size: 18px;
}

/* TEXT */
a{
  color: #F6F7F8;
}

ul li{
  display: inline;
  padding: 2px;
}
p, ul, li{
  font: 16px 'Montserrat';
}
span, a:hover{
  color: var(--primary-color);
}


img{
  margin: 20px;
}
p{
  margin: 20px;
}
section{
  margin: 20px auto;
  width: 80%;
}
section h3, p, ul, li{
  text-align: left;
}

article{
  background-color: #383838;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
  width: 1100;
}
article h3{
  padding: 20px;
}


/* PROFILE IMAGE */
.portrait{
  border-radius: 50%;
}

/* SKILL ICONS */
.icons{
  margin-left: auto;
}

/* PAGE LINKS & NAV */
.links{
  margin-left: 0 auto;
}
.links li{
  display: inline;
  margin: 10px;
}
.links a{
  position: relative;
  text-decoration: none;
  padding: 0 5px;
  color: #c6c6c6;
}
.links a::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: var(--primary-color);
  left: 0; 
  bottom: -5px;
  transition: 0.4s;
}
.links a:hover{
  color: #F6F7F8;
}
.links a:hover:after{
  width: 100%;
}

/* SECTION HEADING */
.section-heading{
  text-align: left;
  border-left: 2px solid #18C7C9;
  padding: 0 10px;
  border-radius: 4px;
  position: relative;
  margin: 10px 0;
}
.section-heading::before, .section-heading:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: fit-content;
  width: 5px;
}
.section-heading:before{
  border-top: 3px solid var(--primary-color);
}
.section-heading:after{
  border-bottom: 3px solid var(--primary-color);
}


.skills{
  background: #222;
  width: fit-content;
  border-radius: 6px;
  margin: 20px 10px;
}
.sub-section h3{
  text-align: left;
}

.container {
  border-radius: 5px;
  background-color: #222;
  width: 50%;
  padding: 20px;
  margin: 50px auto;
}

.skills-section{
  display: flex;
  justify-content: space-evenly;
}

/* FORMS */
input[type=email], input[type=text], textarea {
  background-color: #333;
  color: #F6F7F8;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit]{
  background-color: #18C7C9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #25dadd;
}


/* Tooltip Hover Effect */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #222;
  color: #F6F7F8;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; 
  /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Blinking Cursor Effect */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}