.App {
  text-align: center;
  width: 90%;
  margin: 0px auto;
}
span{
  color: #18C7C9;
}
a{
  color: #F6F7F8;
}
a:hover{
  color: #18C7C9;
}
ul li{
  display: inline;
  padding: 2px;

}
.portrait{
  border-radius: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}
header a{
  margin-right: auto;
}
.icons{
  margin-left: auto;
}
nav{
  height: 30px; 
  margin-left: auto;

}
.links{
  margin-left: 0 auto;
}
.links li{
  display: inline;
  margin: 10px;
}
.links a{
  text-decoration: none;
}h1{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style:italic;
}
article h3{
  padding: 20px;
}
article{
  border-radius: 4px;
  padding: 10px;
  width: 1100
}
section h3{
  text-align: left;
}
p, ul, li{
  text-align: left;
}
.section-heading{
  text-align: left;
  border-left: 2px solid #18C7C9;
  padding: 0 10px;
  /* border-radius: 4px; */
  position: relative;
  margin: 10px 0;
}
.section-heading:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: fit-content;
    width: 5px;
    /* border-top: 3px solid #18C7C9; */
    border-top: 3px solid #18C7C9;
}
.section-heading:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 5px;
  /* border-top: 3px solid #18C7C9; */
  border-bottom: 3px solid #18C7C9;
}
.skills{
  background: #222;
  width: fit-content;
  border-radius: 6px;
  margin: 20px 10px;
}
.sub-section h3{
  /* width: 50%; */
  text-align: left;
}
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #222;
  color: #F6F7F8;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.active{
  color: #18C7C9;
  font-size: 18px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
img{
  margin: 20px;
}
.container {
  border-radius: 5px;
  background-color: #222;
  width: 50%;
  padding: 20px;
  margin: 50px auto;
}
input[type=email], input[type=text], textarea {
  background-color: #333;
  color: #F6F7F8;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit]{
  background-color: #18C7C9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}button[type=submit]:hover {
  background-color: #25dadd;
}
article{
  background-color: #383838;
  /* width: fit-content; */
  margin: 0 auto;
}
p{
  margin: 20px;
}

.skills-section{
  display: flex;
  justify-content: space-evenly;
}
.frontend{
  /* margin-right: auto; */
}
.backend{
  /* margin-left: auto; */
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}